body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 36px;
}

h2 {
	margin: 0;
	font-size: 32px;
}

.container {
	max-width: 500px;
	margin: 80px auto;
	background: lightcyan;
	padding: 40px;
	box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

select {
	display: block;
	margin: 20px auto;
	width: 40%;
	background-color: transparent;
	font-size: 18px;
	border: 1px solid #ccc;
	appearance: base-select;
	color: #71717a;
	box-sizing: border-box;
	padding: 0.5rem 0.75rem;
	border: 1px solid #e4e4e7;
	border-radius: calc(0.5rem - 2px);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

select > button {
	display: flex;
	width: 100%;
	font-family: inherit;
	color: currentColor;
}

select::picker(select) {
	appearance: base-select;
	border: 1px solid #e4e4e7;
	padding: 0.25rem;
	margin-top: 0.25rem;
	border-radius: calc(0.5rem - 2px);
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
	cursor: default;
	transition:
		opacity 225ms ease-in-out,
		transform 225ms ease-in-out;
	transform-origin: top;
	transform: translateY(0);
	opacity: 1;

	@starting-style {
		transform: translateY(-0.25rem) scale(0.95);
		opacity: 0;
	}
}

.city {
	display: flex;
	justify-content: space-between;
	/* margin: 20px 0; */
	/* padding: 20px; */
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.city:not(:last-child) {
	margin-bottom: 20px;
}

.date {
	line-height: 1;
	opacity: 0.7;
}

.time {
	line-height: 1;
	font-size: 48px;
	font-weight: bold;
}

.time small {
	font-size: 28px;
	vertical-align: baseline;
}

footer {
	text-align: center;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
}

a {
	text-decoration: none;
	color: black;
}
