body {
	font-family: "DynaPuff", system-ui;
	font-optical-sizing: auto;
	font-weight: 500;
	font-variation-settings: "wdth" 85;
	color: rgb(26, 32, 44);
	background-repeat: no-repeat;
	background: linear-gradient(
		45deg,
		#fcecc9,
		#fbcdf2,
		#cfffbf,
		#bee6fa,
		#e8befa,
		#fcecc9
	);
	background-size: 600% 600%;
	animation: cloudyRainbow 20s ease infinite;
}

@keyframes cloudyRainbow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
	text-align: center;
	font-size: 66px;
	margin-top: 100px;
	font-optical-sizing: auto;
	font-weight: 600;
	font-variation-settings: "wdth" 100;
	opacity: 0.95;
}

h2 {
	margin: 0;
	font-size: 32px;
	opacity: 0.95;
	line-height: 1;
}

.go-back-icon {
	width: 40px;
	height: auto;
	display: block;
	margin: 20px auto;
	filter: brightness(0) saturate(100%) invert(7%) sepia(5%) saturate(6441%)
		hue-rotate(183deg) brightness(92%) contrast(87%);
	opacity: 0.9;
}

.container {
	max-width: 450px;
	margin: 60px auto 30px;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	padding: 24px 32px;
	border-radius: 40px;
	box-shadow:
		0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 4px 8px rgba(0, 0, 0, 0.14),
		0px 8px 24px rgba(0, 0, 0, 0.16);
}

select {
	display: block;
	margin: 20px auto;
	width: 40%;
	background-color: transparent;
	font-size: 18px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(113, 113, 122);
	box-sizing: border-box;
	padding: 8px 12px;
	border-radius: 6px;
	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.06),
		0 2px 4px rgba(0, 0, 0, 0.08);
	appearance: base-select;
	cursor: pointer;
}

select::picker(select) {
	appearance: base-select;
	border: 1px solid rgb(204, 204, 204);
	padding: 6px;
	margin-top: 4px;
	border-radius: 6px;
	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.06),
		0 2px 4px rgba(0, 0, 0, 0.08);
	cursor: default;
	transition:
		opacity 225ms ease-in-out,
		transform 225ms ease-in-out;
	transform-origin: top;
	transform: translateY(0);
	opacity: 1;
	@starting-style {
		transform: translateY(-0.25rem) scale(0.95);
		opacity: 0;
	}
}

.city {
	display: flex;
	justify-content: space-between;
	padding: 20px 15px;
	opacity: 0.95;
}

.city:last-child {
	margin-bottom: 20px;
}

.date {
	font-size: 14px;
	line-height: 1.1;
	opacity: 0.7;
	font-weight: 600;
	font-variation-settings: "wdth" 85;
}

.time {
	line-height: 1.1;
	font-size: 48px;
	font-weight: 500;
	font-variation-settings: "wdth" 85;
	opacity: 0.95;
}

.time small {
	vertical-align: baseline;
	margin-left: 4px;
}

footer {
	text-align: center;
	font-size: 10px;
	color: rgb(26, 32, 44);
	opacity: 0.7;
	font-weight: 500;
	font-variation-settings: "wdth" 100;
}

footer a {
	color: inherit;
	opacity: inherit;
	text-decoration: none;
}
